.additionally {
  padding-bottom: 20px;
  border-top: 1px solid #ededed;
}

.additionally h3 {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.additionally__list {
  display: flex;
  justify-content: space-between;
  width: 280px;
}
