.additionally__description {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 28px 0 35px 19px;
}

.additionally__description::after {
  content: "";
  width: 53px;
  height: 3px;
  background-color: @green;
  position: absolute;
  top: 1883px;
  left: 432px;
}

.additionally__product {
  width: 280px;
  padding: 12px 0 17px;
  margin: 0 auto;
  border-top: 1px solid @lightgrey;
  border-bottom: 1px solid @lightgrey;
}

.additionally__product h3 {
  font-family: "Oswald";
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 8px 0;
}

.additionally__information {
  margin: 0;
}

.additionally__list {
  display: flex;
  justify-content: space-between;
  width: 284px;
  margin-left: -4px;
}

.additionally__order {
    margin: 10px 0 0;
    font-size: 16px;
    line-height: 20px;
}

@media (min-width: @tablet-width) {
  .additionally {
    width: 708px;
    height: 140px;
    border: 1px solid @grey;
    background-color: @white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-collapse: collapse;
  }

  .additionally h3 {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 28px 0 0 40px;
  }

  .additionally__order {
    width: 633px;
    margin: 0 auto;
  }

  .additionally__information {
    margin: 30px 40px 0 0;
    font-size: 16px;
    line-height: 20px;
  }
}
