.address__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.address__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  width: 140px;
  padding: 28px 0 26px;
  margin: 0;
  float: left;
}

.address__adds {
  line-height: 20px;
  float: right;
  width: 140px;
  padding: 0;
  margin: 28px 0 20px;
}

.address__city {
  line-height: 20px;
  width: 140px;
  float: right;
  margin: -20px 0 20px;
}

@media (min-width: @tablet-width) {
  .address__wrapper {
    width: 626px;
    margin: 0 auto;
    padding: 0 71px;
  }

  .address__slogan {
    font-size: 20px;
    line-height: 25px;
    width: 154px;
    padding: 65px 0 20px 0;
  }

  .address__adds {
    font-size: 16px;
    margin: 63px 0 20px 0;
    text-align: right;
    padding: 0;
    width: 155px;
  }

  .address__city {
    font-size: 16px;
    margin: 123px -154px 0 0;
    text-align: right;
  }
}

@media (min-width: @desktop-width) {
  .address__wrapper {
    width: 417px;
  }

  .address__slogan {
    padding: 64px 0 20px;
  }

  .address__adds {
    margin: 62px 14px 20px 0;
    text-align: left;
  }

  .address__city {
    margin: 122px -126px 0 0;
  }
}
