.advantages__title {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  padding: 20px;
  margin: 0;
}

.advantages__item {
  display: flex;
}

.advantages__list {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.advantages__description {
  width: 200px;
  padding: 0px 0 0 20px;
  margin: 11px 0 0;
}

.advantages__item--sheet {
  background-image: url(../img/advantage-leaf@1x.png);
  background-color: @green;
  width: 60px;
  height: 60px;
  margin: 9px 0;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}

.advantages__item--powder {
  background-image: url(../img/advantage-powder@1x.png);
  background-color: @green;
  width: 60px;
  height: 60px;
  margin: 10px 0;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}

.advantages__item--cutlery{
  background-image: url(../img/advantage-dining@1x.png);
  background-color: @green;
  width: 60px;
  height: 60px;
  margin: 10px 0;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}

.advantages__item--scales{
  background-image: url(../img/advantage-clock@1x.png);
  background-color: @green;
  width: 60px;
  height: 60px;
  margin: 10px 0 0;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .advantages__title {
    font-size: 60px;
    text-align: left;
    width: 708px;
    padding: 0 0 65px 0;
  }

  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 708px;
    padding: 0;
    justify-content: space-between;
  }

  .advantages__item:nth-child(3),
  .advantages__item:nth-child(4) {
    padding-bottom: 82px;
    margin-bottom: 0;
  }

  .advantages__item {
    width: 324px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 98px;
    margin: 7px 0;
  }

  .advantages__item--sheet,
  .advantages__item--powder,
  .advantages__item--cutlery,
  .advantages__item--scales {
    width: 80px;
    height: 80px;
    margin: 0;
  }

  .advantages__item--sheet::after {
    content: '1';
    color: @lightgrey;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 281.07px;
    line-height: 281.07px;
    font-weight: 400;
    position: relative;
    top: -38px;
    left: 120px;
    opacity: 0.5;
  }

  .advantages__item--powder::after {
    content: '2';
    color: @lightgrey;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 281.07px;
    line-height: 281.07px;
    font-weight: 400;
    position: relative;
    top: -38px;
    left: 112px;
    opacity: 0.5;
  }

  .advantages__item--cutlery::after {
    content: '3';
    color: @lightgrey;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 281.07px;
    line-height: 281.07px;
    font-weight: 400;
    position: relative;
    top: -38px;
    left: 112px;
    opacity: 0.5;
  }

  .advantages__item--scales::after {
    content: '4';
    color: @lightgrey;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 281.07px;
    line-height: 281.07px;
    font-weight: 400;
    position: relative;
    top: -38px;
    left: 112px;
    opacity: 0.5;
  }

  .advantages__description {
    font-size: 16px;
    line-height: 24px;
    width: 245px;
    padding: 21px 0;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 1300px;
    padding: 0;
    justify-content: space-around;
  }

  .advantages__item {
    width: 245px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .advantages__title {
    width: 1220px;
  }
}
