.advantages {
  padding: 20px;
}

.advantages__title {
  font-size: 36px;
  line-height: 54px;
  font-weight: 400;
  margin: 0 0 30px 0;
}

.advantages__list {
  padding: 0;
  margin: 0;
}

.advantages__item {
  display: flex;
  min-height: 60px;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.advantages__item--sheet::before {
  content: "";
  position: absolute;
  background-image: url("../img/advantage-leaf@1x.png");
  background-color: @green;
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .advantages__picture--sheet {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 60px 60px;
    }
  }
}

.advantages__item--powder::before {
  content: "";
  position: absolute;
  background-image: url("../img/advantage-powder@1x.png");
  background-color: @green;
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .advantages__picture--powder {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 60px 60px;
    }
  }
}

.advantages__item--cutlery::before {
  content: "";
  position: absolute;
  background-image: url("../img/advantage-dining@1x.png");
  background-color: @green;
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .advantages__picture--cutlery {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 60px 60px;
    }
  }
}

.advantages__item--scales::before {
  content: "";
  position: absolute;
  background-image: url("../img/advantage-clock@1x.png");
  background-color: @green;
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .advantages__picture--scales {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 60px 60px;
    }
  }
}

.advantages__description {
  font-family: @secondary-font;
  padding: 0 0 0 80px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .advantages {
    padding: 47px 30px 7px;
    border-bottom: 1px solid @lightgrey;
    margin-bottom: 23px;
  }

  .advantages__title {
    font-size: 60px;
    margin-bottom: 76px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 57px;
    grid-row-gap: 37px;
    counter-reset: item_number;
  }

  .advantages__item {
    min-height: 280px;
    margin: 0;
    align-items: baseline;
    padding: 113px 0 0;
    counter-increment: item_number;

    &--sheet::before,
    &--powder::before,
    &--cutlery::before,
    &--scales::before {
      width: 80px;
      height: 80px;
      margin: 0;
    }

    &::after {
      content: counter(item_number);
      position: absolute;
      top: -17px;
      right: 80px;
      min-width: 136px;
      font-size: 281px;
      line-height: 235px;
      font-family: @main-font;
      color: @lightgrey;
      z-index: -1;
      text-align: center;
    }
  }

  .advantages__description {
    font-size: 16px;
    line-height: 24px;
    padding: 0 80px 0 0;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    padding: 75px 40px 0;
    border-bottom: none;
    margin: 0;
  }

  .advantages__list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 80px;
  }

  .advantages__item {
    min-height: 250px;

    &::after {
      right: 0;
    }
  }

  .advantages__description {
    padding: 0;
  }
}
