.all-products {
  border: 1px solid @grey;
  width: 278px;
  display: flex;
  flex-direction: column;
  padding: 0 20px 22px;
  background-color: @white;
  margin: 0 auto;
  position: relative;
}

.all-products::before {
  content: url("../img/icon-plus-mobile.svg");
  margin: 20px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 7px;
  left: 124px;
}

.all-products__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 80px 0 0;
  width: 280px;
}

.all-products__slogan {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 8px 0 0;
}

.all-products__show {
  background-color: @lightgrey;
  color: @grey;
  margin: 22px 0 0 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  width: 280px;
  height: 30px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 10px 0 0;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: #c8c8c8;
  }
}

@media (min-width: @tablet-width) {
  .all-products {
    margin: 0;
    width: 282px;
  }

  .all-products::before {
    content: url("../img/icon-plus.svg");
    width: 60px;
    height: 60px;
    top: 34px;
    left: 112px;
  }

  .all-products__description {
    font-size: 20px;
    margin: 163px 0 0 59px;
    width: 165px;
    position: relative;
  }

  .all-products__slogan {
    font-size: 16px;
    line-height: 18px;
    margin: 26px auto 0;
    width: 200px;
  }

  .all-products__show {
    margin: 86px auto 0;
    width: 250px;
  }
}

@media (min-width: @desktop-width) {
  .all-products {
    width: 203px;
    height: 430px;
    padding: 0 20px;
  }

  .all-products::before {
    top: 33px;
    left: 70px;
  }

  .all-products__description {
    margin: 162px 0 0 19px;
  }

  .all-products__slogan {
    margin: 27px auto 0;
  }

  .all-products__show {
    width: 170px;
  }
}
