.all-products__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 47px 0 0 -68px;
}

.all-products__slogan {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 8px 0 0;
}

.all-products__description::before {
  content: url("../img/icon-plus-mobile.svg");
  margin: 20px;
  width: 30px;
  height: 30px;
  color: @lightgrey;
  position: relative;
  top: -40px;
  left: 135px;
}

.all-products__show {
  background-color: @lightgrey;
  color: @grey;
  margin: 22px 0 0 21px;
  font-size: 16px;
  line-height: 20px;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: #c8c8c8;
  }
}

@media (min-width: @tablet-width) {
  .all-products__description {
    font-size: 20px;
    margin: 164px 0 0 80px;
    width: 165px;
    position: relative;
  }

  .all-products__description::before {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -115px;
    left: 32px;
  }

  .all-products__slogan {
    font-size: 16px;
    line-height: 18px;
    margin: 26px auto 0;
    width: 200px;
  }

  .all-products__show {
    margin: 86px auto 0;
    height: 40px;
  }
}

@media (min-width: @desktop-width) {
  .all-products__description {
    margin: 164px 0 0 40px;
  }

  .all-products__slogan {
    margin: 27px auto 0;
  }

  .all-products__show {
    width: 170px;
  }
}
