.button {
  background-color: #68b738;
  color: #ffffff;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: regular;
  text-transform: uppercase;
  width: 280px;
  height: 40px;
}
