.contacts {
  background-color: @white;
}

.contacts__wrapper {
  display: flex;
  padding: 30px 20px;
}

.contacts__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.contacts__address {
  font-family: "Arial", sans-serif;
  line-height: 20px;
  width: 50%;
}

.contacts__map {
  width: 100%;
  height: 362px;
  position: relative;
  background-image: url("../img/bg-map-mobile@1x.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .address__wrapper {
    width: 626px;
    margin: 0 auto;
    padding: 0 71px;
  }

  .address__align {
    width: 708px;
  }

  .address__slogan {
    font-size: 20px;
    line-height: 25px;
    width: 155px;
    padding: 65px 0 20px 0;
  }

  .address__adds {
    font-size: 16px;
    margin: 63px 0 20px 0;
    text-align: right;
    padding: 0;
    width: 155px;
  }

  .address__city {
    font-size: 16px;
    margin: 123px -154px 0 0;
    text-align: right;
  }
}

@media (min-width: @desktop-width) {
  .address__wrapper {
    width: 1300px;
    display: flex;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }

  .address__align {
    width: 427px;
    height: 200px;
    background-color: @white;
    position: absolute;
    left: 40px;
    padding: 0 75px;
  }

  .address__slogan {
    padding: 64px 0 20px;
  }

  .address__adds {
    margin: 62px 21px 20px 0;
    text-align: left;
  }

  .address__city {
    margin: 122px -126px 0 0;
  }
}
