.copyright {
  display: flex;
  justify-content: space-around;
}

.copyright__link--logo {
  color: #444444;
}

.copyright__link--text {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
  margin: 0 0 0 -40px;
}
