.copyright {
  display: flex;
  justify-content: space-around;
}

.copyright__link--logo {
  color: @darkgrey;
  margin: 4px -52px 0 0;
}

.copyright__link--logo svg:hover {
  fill: #68b738;
}

.copyright__link--logo svg:active {
  fill: #68b738;
  opacity: 0.5;
}

.copyright__link--text {
  font-size: 16px;
  line-height: 16px;
  color: @darkgrey;
  margin: 0 0 0 -48px;
  padding: 18px 0 30px 0;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

@media (min-width: @tablet-width) {
  .copyright__link--text {
    margin: 0 0 0 -37px;
  }

  .copyright__link--logo {
    margin: 3px 11px 0 0;
  }
}

@media (min-width: @desktop-width) {
  .copyright__link--text {
    margin: 0 0 0 -47px;
  }

  .copyright__link--logo {
    margin: 4px -15px 0 0;
  }
}
