.example {
  background-color: @lightgrey;
  padding: 20px 0;
}

.example__wrapper {
  padding: 0 20px;
}

.example__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin: 0;
}

.example__description {
  font-family: "Arial", sans-serif;
  margin: 20px 0 25px;
}

.example__statistic {
  display: flex;
  justify-content: space-between;
}

.example__item {
  width: calc(50% - 16px);
  text-align: center;
}

.example__value {
  border: 1px solid @grey;
  border-radius: 3px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding: 15px 0;
  text-transform: uppercase;
}

.example__label {
  font-size: 12px;
  line-height: 12px;
  background-color: @lightgrey;
  margin: 0 15px;
  padding: 0 15px;
  display: inline-block;
  transform: translateY(-8px);
}

.example__cost {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .example__wrapper {
    width: 768px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    padding: 0 0 70px 0;
    margin: -50px 0 0 30px;
    width: 708px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    width: 690px;
    padding: 0 0 53px 0;
    margin: -6px 0 0 29px;
  }

  .example__results {
    margin: 0 auto;
    width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .example__wrapper {
    width: 1220px;
    margin: 0 auto;
    position: relative;
  }

  .example__title {
    margin: 0 0 0 1px;
    padding: 0;
    align-self: flex-start;
  }

  .example__description {
    margin: 146px 0 0 1px;
    width: 439px;
    padding: 0;
    min-height: 97px;
    align-self: flex-start;
  }

  .example__results {
    width: 1220px;
    margin: 68px 0 0;
    align-self: flex-start;
  }
}
