.example__wrapper {
  width: 320px;
  margin: 0 auto;
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  padding: 19px 20px;
  margin: 0 auto;
}

.example__toggles {
  display: flex;
  margin: 2px 64px;
  width: 280px;
  position: relative;
}

.example__description {
  padding: 0 20px;
  width: 270px;
  margin: 3px 0;
}

.example__results {
  display: flex;
  margin: 0 auto 12px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example__picture {
  margin: 34px 0 0;
  display: block;
  height: 270px;
}

.example__picture img {
  width: 320px;
  height: 240px;
}

.example__picture li:last-child {
  position: relative;
  top: -240px;
}

@media (min-width: @tablet-width) {
  .example__wrapper {
    width: 768px;
    margin: 0 auto;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    padding: 0 0 70px 0;
    margin: -50px 0 0 30px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    width: 690px;
    padding: 0 0 53px 0;
    margin: -6px 0 0 29px;
  }

  .example__results {
    margin: 0 auto;
    width: 708px;
  }

  .example__picture {
    width: 708px;
    padding-top: 91px;
    margin: 0 auto 165px;
  }

  .example__picture img {
    width: 708px;
    height: auto;
  }

  .example__picture li:last-child {
    position: relative;
    top: -525px;
  }

  .example__toggles {
    display: flex;
    margin: -3px auto 58px;
    position: relative;
    top: 92px;
    left: -2px;
    width: 568px;
  }
}

@media (min-width: @desktop-width) {
  .example__wrapper {
    width: 1220px;
    margin: 0 auto;
    height: 596px;
  }

  .example__title {
    margin: 0 0 0 1px;
    padding: 0;
  }

  .example__description {
    margin: 146px 0 0 1px;
    width: 439px;
    padding: 0 0 68px 0;
  }

  .example__results {
    width: 1220px;
    margin: 0;
  }

  .example__picture {
    position: relative;
    top: -512px;
    left: 569px;
    width: 690px;
    margin: 0;
    padding: 0;
  }

  .example__toggles {
    top: -215px;
    left: 325px;
  }
}
