.example__wrapper {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  padding: 19px 20px;
  margin: 0 auto;
  width: 280px;
}

.example__toggles {
  display: flex;
  margin: 2px auto;
  width: 200px;
  position: relative;
}

.example__description {
  padding: 0 20px;
  width: 270px;
  margin: 3px 0;
}

.example__results {
  display: flex;
  margin: 0 auto 12px;
  flex-wrap: wrap;
  width: 320px;
}

.example__picture {
  margin: 22px 0 0;
  display: block;
  height: 270px;
  position: relative;
}

.example__picture img {
  width: 320px;
  height: 240px;
  position: absolute;
  top: 0;
}

.example__picture picture:last-child {
  display: none;
}

@media (min-width: @tablet-width) {
  .example__wrapper {
    width: 768px;
    margin: 0 auto;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    padding: 0 0 70px 0;
    margin: -50px 0 0 30px;
    width: 708px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    width: 690px;
    padding: 0 0 53px 0;
    margin: -6px 0 0 29px;
  }

  .example__results {
    margin: 0 auto;
    width: 708px;
  }

  .example__picture {
    width: 708px;
    padding-top: 91px;
    margin: 0 auto 165px;
  }

  .example__picture img {
    width: 690px;
    height: auto;
    top: 87px;
    left: 16px;
  }

  .example__toggles {
    display: flex;
    margin: -3px auto 58px;
    position: relative;
    top: 92px;
    left: -2px;
    width: 568px;
  }
}

@media (min-width: @desktop-width) {
  .example__wrapper {
    width: 1220px;
    margin: 0 auto;
    height: 596px;
    position: relative;
  }

  .example__title {
    margin: 0 0 0 1px;
    padding: 0;
  }

  .example__description {
    margin: 146px 0 0 1px;
    width: 439px;
    padding: 0;
    min-height: 97px;
  }

  .example__results {
    width: 1220px;
    margin: 68px 0 0;
  }

  .example__picture {
    width: 690px;
    height: 517px;
    margin: 0;
    padding: 0;
    display: block;
  }

  .example__picture img {
    top: -581px;
    left: 570px;
    width: 690px;
    height: 517px;
  }

  .example__toggles {
    position: absolute;
    top: 497px;
    left: 649px;
    margin: 0;
  }
}
