.information__item {
  font-size: 12px;
  line-height: 12px;
  display: flex;
}

.information__list {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
}

@media (min-width: @tablet-width) {
  .information__list {
    border-bottom: 1px solid @grey;
    margin: -4px 0;
  }

  .information__item {
    font-size: 16px;
    padding: 13px 0 10px;
  }
}

@media (min-width: @desktop-width) {
  .information {
    width: 170px;
  }

  .information__item {
    padding: 9px 0 6px;
    line-height: 19px;
  }
}
