.main__decoration {
  width: 320px;
}

.main__description {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  text-align: center;
  padding: 30px 0 20px;
}

.main__slogan {
  color: #ffffff;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.main__decoration {
  background-image: url("../img/index-background-mobile@1x.jpg");
  width: 320px;
  height: 305px;
  /*background-image: url("../img/index-can-mobile@1x.png");*/
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: #68b738;
}

.main-nav__toggle {
  background-image: url("../img/icon-close.svg");
  float: right;
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  margin: 23px 20px;
}

.main-nav__wrapper {
  padding-top: 65px;
}

.main__picture {
  background-position-x: center;
}

.main__programm {
  padding-top: 135px;
  margin: 0 20px;
}

.main__advantages {
  width: 320px;
}

.main__example {
  width: 320px;
  background-color: #f2f2f2;
}
