.main {
  margin: 0 auto 9px;
  width: 320px;
}

.main__introduction {
  background-image: url("../img/index-background-mobile@1x.jpg");
  width: 320px;
  height: 305px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: @green;
  margin-bottom: 10px;
}

.main__description {
  color: @white;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  text-align: center;
  padding: 28px 0 20px;
}

.main__slogan {
  color: @white;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding: 6px 0 0;
}

.main__picture {
  padding: 27px 20px;
}

.main__programm {
  padding-top: 126px;
  margin: 0 20px;
}

.main__advantages {
  width: 320px;
  min-height: 400px;
  margin: -25px auto 41px;
}

.main__example {
  width: 320px;
  background-color: @lightgrey;
  padding: 0 0 37px 0;
}

@media (min-width: @tablet-width) {
  .main {
    min-width: 768px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
  }

  .main__introduction {
    width: 708px;
    display: flex;
    background: none;
    flex-direction: column;
    margin: 0 auto 70px;
    min-height: 820px;
  }

  .main__description {
    color: @black;
    text-align: left;
    margin: 52px 0 0 86px;
    font-size: 60px;
    line-height: 60px;
    width: 487px;
  }

  .main__slogan {
    color: @black;
    text-align: left;
    margin-top: 14px;
    font-size: 20px;
    line-height: 20px;
    width: 487px;
    margin-left: 88px;
  }

  .main__picture {
    width: 708px;
    height: 609px;
    padding: 0;
  }

  .main__programm {
    display: flex;
    margin: 0 auto;
    width: 708px;
    padding: 0;
  }

  .main__advantages {
    width: 708px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    border-bottom: 1px solid @lightgrey;
  }

  .main__example {
    width: 708px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    background-color: @white;
    padding-top: 50px;
  }
}

@media (min-width: @desktop-width) {
  .main {
    display: flex;
    min-width: 1300px;
    margin: 0 auto;
  }

  .main__introduction {
    display: flex;
    margin: 0 auto;
    width: 1300px;
    flex-wrap: wrap;
  }

  .main__programm {
    display: flex;
    margin: 0 auto;
    width: 1300px;
    padding: 0;
  }

  .main__advantages {
    width: 1300px;
    margin-top: 70px;
    justify-content: space-around;
    border: none;
  }
}
