.main-nav__wrapper {
  display: flex;
  width: 320px;
  margin: 0 auto;
  justify-content: space-between;
  position: relative;
}

.main-nav__logo {
  padding: 13px 20px 15px;
  width: 200px;
  height: 38px;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

.main-nav--nojs .main-nav__list,
.main-nav--opened .main-nav__list {
  display: block;
}

.main-nav__toggle {
  position: absolute;
  top: 4px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  width: 30px;
  height: 24px;
  padding: 15px;
  padding-right: 20px;
  background: 0 0;
  border: 0;
  user-select: none;
  margin: 0;
  border-radius: 0;
  font-size: 0;
  line-height: 0;
  outline: none;
  cursor: pointer;
}

.toggle__btn {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 2px;
  vertical-align: bottom;
  background: #000000;
  transition: background 0.7s 0.7s;
}

.toggle__btn::after,
.toggle__btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000000;
  transform-origin: 50% 50%;
  transition: top 0.5s 0.5s, transform 0.5s;
}

.toggle__btn::after {
  top: -8px;
}

.toggle__btn::before {
  top: 8px;
}

.main-nav--opened .toggle__btn::before {
  transform: rotate3d(0, 0, 1, 45deg);
}

.main-nav--opened .toggle__btn::after,
.main-nav--opened .toggle__btn::before {
  top: 0;
  transition: top 0.3s, transform 0.3s 0.5s;
  width: 28px;
}

.main-nav--opened .toggle__btn::after {
  transform: rotate3d(0, 0, 1, -45deg);
}

.main-nav--opened .toggle__btn {
  background: 0 0;
  transition: background 0.01s 0.01s;
}

.main-nav--nojs .site-list__item {
  display: block;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .site-list__item a {
  padding: 25px 0;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .main-nav {
    display: flex;
    width: 768px;
    margin: 0 auto;
    height: 110px;
  }

  .main-nav__wrapper {
    width: 222px;
    padding: 23px 0 0;
    margin: 0 0 10px;
  }

  .main-nav__logo {
    width: 183px;
  }

  .main-nav__logo img {
    margin: -11px 0 0 10px;
    width: 174px;
    height: 57px;
  }

  .main-nav__list,
  .main-nav--nojs .main-nav__list {
    display: flex;
    flex-wrap: nowrap;
    width: 440px;
    padding-top: 44px;
    margin-left: 76px;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 1220px;
    display: flex;
    padding: 31px 0 0;
    margin: 0 auto;
    justify-content: space-between;
  }

  .main-nav__wrapper {
    min-width: 204px;
    padding: 24px 0 70px;
    margin: 0;
  }

  .main-nav__logo {
    padding: 12px 0;
    width: 202px;
  }

  .main-nav__logo img {
    margin: -13px 0 0;
    width: 203px;
    height: 60px;
  }

  .main-nav__list,
  .main-nav--nojs .main-nav__list {
    width: 479px;
    padding: 45px 0 0;
  }
}
