.main-nav__wrapper {
  width: 320px;
  margin: 0 auto;
}

.main-nav__logo {
  float: left;
  padding: 13px 20px 0;
  width: 131px;
  height: 38px;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.main-nav__toggle {
  float: right;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  float: right;
  margin: 23px 20px;
  width: 24px;
  height: 2px;
  background-color: @black;
  box-shadow: 0 8px 0 0 @black, 0 16px 0 0 @black;
}

.main-nav--closed .main-nav__toggle:hover::before {
  opacity: 0.5;
}

.main-nav--opened .main-nav__toggle::before {
  content: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  display: block;
  width: 18px;
  height: 18px;
  float: right;
  margin: 23px;

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }
}


@media (max-width: @mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;

    .main-nav--active {
      display: block;
    }
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }

  .main-nav--nojs .site-list__item a {
    padding: 25px 0;
    text-align: center;
  }
}

.main-nav__list {
  padding-top: 65px;
}

@media (min-width: @tablet-width) {
  .main-nav {
    display: flex;
    width: 768px;
    margin: 0 auto;
  }

  .main-nav--closed {
    height: 110px;
  }

  .main-nav__wrapper {
    width: 222px;
    padding: 23px 0 0;
    margin: 0 0 10px;
  }

  .main-nav__logo {
    width: 183px;
  }

  .main-nav__logo img {
    margin: -11px 0 0 10px;
    width: 174px;
    height: 57px;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: nowrap;
    width: 440px;
    padding-top: 44px;
    margin-left: 76px;
  }

  .main-nav__toggle {
    display: none;
    padding: 0;
    width: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 1220px;
    display: flex;
    padding: 31px 0 0;
    margin: 0 auto;
    justify-content: space-between;
  }

  .main-nav__wrapper {
    min-width: 204px;
    padding: 24px 0 70px;
    margin: 0;
  }

  .main-nav__logo {
    padding: 12px 0;
    width: 202px;
  }

  .main-nav__logo img {
    margin: -13px 0 0;
    width: 203px;
    height: 60px;
  }

  .main-nav__list {
    width: 479px;
    padding: 45px 0 0;
  }
}
