.page-catalog {
  border-top: 1px solid @grey;
}

.page-catalog__title {
  padding: 15px 20px;

  h2 {
    font-size: 36px;
    line-height: 60px;
    font-weight: 400;
    margin: 0;
  }
}

.page-catalog__products {
  margin-top: 15px;
}

.page-catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-catalog__item {
  border: 1px solid @grey;
  padding: 0 20px 24px;
  margin-top: -1px;

  &--more {
    text-align: center;
  }
}

.page-catalog__extra {
  padding: 10px 20px;
  margin-bottom: 24px;
}

.page-catalog__subtitle {
  position: relative;

  h2 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    display: inline-block;
    background-color: @white;
    padding-right: 22px;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: @green;
    height: 3px;
    width: calc(100vw - 20px);
    left: 0;
    top: 35px;
    z-index: -1;
    overflow: hidden;
  }
}
