.page-catalog {
  width: 100%;
}

.page-catalog__description {
  border-top: 1px solid @grey;
}

.page-catalog__description h1 {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  padding: 14px 0 27px 39px;
  margin: 0 auto;
  width: 320px;
}

.page-catalog__list {
  width: 100%;
}

.page-catalog__item {
  margin: 0 auto;
  width: 320px;
  padding: 6px 0 22px;
  border: 1px solid @grey;
}

.page-catalog__all-products {
  width: 320px;
  margin: 0 auto;
  padding: 20px 0 23px;
  border: 1px solid @grey;
}

.page-catalog__additionally {
  width: 320px;
  margin: 0 auto;
}

.page-catalog__picture {
  padding-top: 10px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position-y: 43%;
  width: 320px;
  height: 279px;
  background-repeat: no-repeat;
  background-position-x: center;
  margin: 39px auto 35px;
}

.page-catalog__present {
  font-size: 16px;
  line-height: 20px;
  color: @white;
  width: 170px;
  text-align: center;
  padding: 20px;
  margin: 53px 0 25px;
}

.page-catalog__present::before {
  content: url("../img/icon-gift.svg");
  position: relative;
  top: -76px;
  left: 81px;
}

@media (min-width: @tablet-width) {
  .page-catalog {
    width: 768px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .page-catalog__description {
    font-size: 60px;
    width: 708px;
    border: none;
  }

  .page-catalog__list {
    width: 708px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-catalog__item {
    width: 324px;
    display: flex;
    flex-direction: column;
    background-color: @lightgrey;
    background-position-y: 20%;
    margin-bottom: 50px;
  }

  .page-catalog__all-products {
    border: 1px solid @grey;
    height: 432px;
    width: 324px;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .page-catalog__description--line {
    font-size: 36px;
    line-height: 36px;
  }

  .page-catalog__additionally {
    width: 708px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
  }

  .page-catalog__picture {
    border: none;
    width: 708px;
    height: 200px;
    display: flex;
    margin: 50px auto 0;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    padding: 0;
  }

  .page-catalog__present {
    margin: 0;
    padding: 0;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .page-catalog {
    width: 1300px;
  }

  .page-catalog__description {
    width: 1300px;
  }

  .page-catalog__list {
    width: 1220px;
  }

  .page-catalog__item {
    width: 245px;
  }

  .page-catalog__all-products {
    width: 245px;
  }
}
