.page-footer {
  background-color: @lightgrey;
  margin: 0 auto;
}

.page-footer__maps {
  width: 100%;
  position: relative;
}

.page-footer__maps::after {
  content: url("../img/map-pin.png");
  width: 124px;
  height: 108px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.page-footer__address {
  background-color: @white;
  height: 114px;
}

.page-footer__address--lightgrey {
  background-color: @lightgrey;
}

.page-footer__address img {
  width: 320px;
  height: 360px;
}

.page-footer__contacts {
  padding: 0 20px 2px 20px;
}

.page-footer__logotype {
  width: 320px;
  margin: 35px auto 25px;
}

.page-footer__logo {
  margin: 95px auto 0;
  padding: 0 95px;
}

.page-footer__logo svg:hover {
  opacity: 0.7;
}

.page-footer__logo svg:active {
  opacity: 0.5;
}

.page-footer__social,
.page-footer__logo,
.page-footer__copyright {
  background-color: @lightgrey;
}

.page-footer__social {
  margin: 13px 0;
}

.page-footer__copyright {
  width: 320px;
  margin: 0 auto;
}

.page-footer__decor {
  color: @grey;
  size: 1px;
  margin: 10px 0 10px;
}

@media (min-width: @tablet-width) {
  .page-footer__address {
    background-color: @white;
    margin: 1px auto 0;
    padding: 0 0 87px;
    width: 100%;
  }

  .page-footer__address--lightgrey {
    background-color: @lightgrey;
    margin: 1px auto 0;
    padding: 0 0 87px;
    width: 100%;
  }

  .page-footer__slogan {
    width: 315px;
    padding: 68px 0 0;
    margin: 0;
    font-size: 20px;
    line-height: 25px;
  }

  .page-footer__adds {
    width: 315px;
    padding: 66px 0 0;
    margin: 0 0 0 -7px;
    font-size: 16px;
    text-align: right;
  }

  .page-footer__maps {
    width: 100%;
    height: 395px;
  }

  .page-footer__contacts {
    width: 786px;
    display: flex;
    background-color: @lightgrey;
    padding: 0 0 42px;
    flex-direction: row;
    margin: 0 auto;
  }

  .page-footer__contacts hr {
    display: none;
  }

  .page-footer__logotype {
    width: 132px;
    margin: 58px 0 0 -50px;
  }

  .page-footer__logo {
    margin: 60px 0 0 -7px;
  }

  .page-footer__social {
    margin: 59px 0 0 116px;
  }

  .page-footer__copyright {
    padding: 0;
    margin: 45px 0 0 155px;
    width: 162px;
  }

  .page-footer__address--catalog {
    height: 200px;
    width: 768px;
    background-color: @lightgrey;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    position: relative;
  }

  .page-footer__address {
    position: absolute;
    width: 570px;
    top: 96px;
    left: 66px;
    background-color: @white;
  }

  .page-footer__contacts {
    width: 1220px;
  }

  .page-footer__maps {
    height: 401px;
  }

  .page-footer__logotype {
    margin: 58px 0 0 -89px;
  }

  .page-footer__social {
    margin: 57px 0 0 374px;
  }

  .page-footer__copyright {
    margin: 45px 0 0 422px;
  }
}
