.page-header {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  width: 320px;
}

.page-header__logo {
  float: left;
  padding: 10px 20px;
}
