.page-header {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 auto;
  background-color: @white;
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    flex-wrap: nowrap;
    height: 110px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 24.86px;
  }

  .page-header__logo {
    float: none;
    padding: 25px 30px 0 0;
    width: 230px;
    height: 50px;
  }

  .logo__image--picture {
    width: 230px;
    height: 50px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    height: 120px;
    margin: 0 auto;
    font-size: 20px;
    display: block;
    background-color: transparent;
  }

  .page-header::before {
    content: "";
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-position: right center;
    background-repeat: no-repeat;
    background-color: #;
    width: 50%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .page-header__logo {
    padding: 54px 0 0;
  }
}
