.page-header {
  width: 320px;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 auto;
}

.page-header__logo {
  float: left;
  padding: 12px 20px;
  width: 131px;
  height: 38px;

  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 0.5;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    flex-wrap: nowrap;
    height: 60px;
    margin: 0 auto;
    min-width: 708px;
    font-size: 18px;
    line-height: 24.86px;
  }
  .page-header__logo {
    float: none;
    padding: 25px 30px 0 0;
    width: 230px;
    height: 50px;
  }

  .logo__image--picture {
    width: 230px;
    height: 50px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    display: flex;
    flex-wrap: nowrap;
    height: 90px;
    margin: 0 auto;
    width: 1440px;
    justify-content: space-around;
  }

  .page-header::before {
    content: url("../img/index-background-desktop@1x.jpg");
    width: 720px;
    height: 694px;
    position: absolute;
    top: 0px;
    left: 720px;
    z-index: -1;
  }

  .page-header__logo {
    padding: 54px 0 0;
  }
}
