.product {
  padding: 20px;
  border-top: 1px solid #ededed;
}

.product__image {
  float: left;
}

.product__description {
  width: 75px;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  float: right;
  margin-right: 60px;
}
