.product__image {
  float: left;
  margin: -4px 0 0 20px;
}

.product__wrapper {
  width: 141px;
  margin: 0;
  float: right;
}

.product__description {
  width: 75px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  float: right;
  margin: 16px 85px 8px 0;
}

.product__information {
  width: 147px;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 0 -22px;
}

.product__order {
  margin: 3px 0 0 21px;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .product {
    border: none;
    padding: 0;
  }

  .product__description {
    margin: 0 auto;
    width: 140px;
    font-size: 20px;
    text-align: center;
  }

  .product__image {
    float: none;
    margin: 0 auto;
  }

  .product__order {
    margin: 0 auto 40px;
  }
}

@media (min-width: @desktop-width) {
  .product__order {
    width: 170px;
  }
}
