.programm__list {
  margin: 23px 20px;
  list-style: none;
  padding: 0;
}

.programm__item {
  width: 238px;
  background-color: @lightgrey;
  padding: 29px 21px 18px 21px;
  margin-bottom: 20px;
  position: relative;
}

.programm__item--slim::before {
  content: "";
  display: block;
  position: absolute;
  background-color: @green;
  border-radius: 150px;
  width: 50px;
  height: 50px;
  left: 23px;
  top: 24px;
}

.programm__item--slim::after {
  content: url("../img/icon-cat-slim.svg");
  display: block;
  position: absolute;
  width: 35px;
  left: 30px;
  top: 21px;
}

.programm__item--pro::before {
  content: "";
  display: block;
  position: absolute;
  background-color: @green;
  border-radius: 150px;
  width: 50px;
  height: 50px;
  left: 22px;
  top: 25px;
}

.programm__item--pro::after {
  content: url("../img/icon-cat-pro.svg");
  display: block;
  position: absolute;
  width: 66px;
  left: 14px;
  top: 36px;
}

.programm__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37.02px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding: 0 0 29px 0;
  margin: 0 -11px 0 0;
}

.programm__title--pro {
  margin: 2px -39px 0 0;
}

.programm__description {
  padding: 0 0 22px;
  margin: 0 0 19px;
  border-bottom: 1px solid @grey;
}

.programm__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 0 -1px;
  position: relative;

  &:hover::after {
    content: url("../img/icon-right-arrow-verylong.svg");
    display: block;
    height: 11px;
    width: 33px;
    position: absolute;
    top: 3px;
    left: 97px;
  }

  &:active {
    opacity: 0.5;
  }

  &:active::after {
    content: url("../img/icon-right-arrow-verylong.svg");
    display: block;
    height: 11px;
    width: 33px;
    position: absolute;
    top: 3px;
    left: 97px;
    opacity: 0.5;
  }
}

.programm__button::after {
  content: url("../img/icon-right-arrow-long.svg");
  display: block;
  height: 11px;
  width: 24px;
  position: absolute;
  top: 3px;
  left: 97px;
}

@media (min-width: @tablet-width) {
  .programm__list {
    display: flex;
    flex-direction: column;
    width: 768px;
    margin: 0 auto 17px;
  }

  .programm__item {
    width: 600px;
    padding: 77px 54px 60px;
    margin: 0 auto 30px;
    display: flex;
    flex-direction: column;
  }

  .programm__item--slim::before {
    width: 200px;
    height: 200px;
    left: 446px;
    top: 93px;
  }

  .programm__item--slim::after {
    width: 139px;
    left: 477px;
    top: 82px;
  }

  .programm__item--pro::before {
    width: 200px;
    height: 200px;
    left: 448px;
    top: 93px;
  }

  .programm__item--pro::after {
    width: 268px;
    left: 412px;
    top: 136px;
  }

  .programm__title {
    padding: 0 0 26px 0;
    text-align: left;
    font-size: 36px;
  }

  .programm__title--pro {
    margin: 0;
  }

  .programm__description {
    width: 375px;
    margin: 0 0 0 -2px;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 56px;
    border-bottom: none;
  }

  .programm__description--pro {
    width: 344px;
  }

  .programm__button {
    margin: 0 0 0 -2px;
    font-size: 20px;
    line-height: 20px;

    &:hover::after {
      top: -4px;
      left: 132px;
    }

    &:active::after {
      top: -4px;
      left: 132px;
    }
  }

  .programm__button::after {
    top: -4px;
    left: 132px;
  }
}

@media (min-width: @desktop-width) {
  .programm__list {
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
  }

  .programm__item {
    width: 470px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 77px 50px 0;
  }

  .programm__item--slim::before {
    width: 100px;
    height: 100px;
    left: 52px;
    top: 48px;
  }

  .programm__item--slim::after {
    width: 71px;
    left: 64px;
    top: 42px;
  }

  .programm__item--pro::before {
    width: 100px;
    height: 100px;
    left: 51px;
    top: 48px;
  }

  .programm__item--pro::after {
    width: 133px;
    left: 34px;
    top: 70px;
  }

  .programm__title {
    width: 490px;
    margin: 0;
    padding: 0 0 99px 0;
    text-align: center;
  }

  .programm__title--pro {
    margin: 0 0 0 22px;
    padding: 0 0 57px 0;
  }

  .programm__description {
    margin: -25px 0 0 3px;
    width: 470px;
    padding-bottom: 31px;
  }

  .programm__description--pro {
    width: 470px;
    margin: 17px 0 0 3px;
    padding-bottom: 31px;
  }

  .programm__button {
    width: 470px;
    margin: 0 0 0 3px;
    padding-bottom: 62px;
  }
}
