.programm {
  padding: 0 20px;
}

.programm__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.programm__item {
  width: 100%;
  background-color: @lightgrey;
  padding: 30px 20px 20px;
  position: relative;
  max-width: 600px;
  margin: 0 auto;

  &--slim {
    margin-bottom: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: @green;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    left: 23px;
    top: 23px;
  }

  &--slim::after {
    content: url("../img/icon-cat-slim.svg");
    position: absolute;
    width: 35px;
    left: 30px;
    top: 21px;
  }

  &--pro::after {
    content: url("../img/icon-cat-pro.svg");
    position: absolute;
    width: 66px;
    left: 14px;
    top: 36px;
  }
}

.programm__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 30px 70px;
}

.programm__description {
  font-family: @secondary-font;
  padding-bottom: 22px;
  margin: 0 0 20px;
  border-bottom: 1px solid @grey;
}

.programm__link {
  display: inline;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  padding: 10px 35px 10px 0;
  color: @black;
  text-transform: uppercase;
  position: relative;
  transition: 0.3s;

  &::after {
    content: "";
    position: absolute;
    transition: 0.3s ease-out;
    background-image: url("../../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    width: 32px;
    height: 11px;
    top: 13px;
    right: -10px;
    transform-origin: left;
  }

  &:hover::after {
    transform: scaleX(1.7);
  }

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
    transition: none;
  }
}

@media (min-width: @tablet-width) {
  .programm {
    padding: 0 30px;
  }

  .programm__item {
    padding: 75px 275px 52px 54px;
    max-width: 710px;
    min-height: 372px;
    margin: 0 auto;
    display: flex;

    &--slim {
      margin-bottom: 30px;
    }

    &::before {
      width: 200px;
      height: 200px;
      left: 447px;
      top: 92px;
    }

    &--slim::after {
      width: 139px;
      left: 477px;
      top: 80px;
    }

    &--pro::after {
      width: 268px;
      left: 412px;
      top: 134px;
    }
  }

  .programm__inner {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .programm__title {
    width: 100%;
    font-size: 36px;
    line-height: 39px;
    margin: 0 0 24px;
  }

  .programm__description {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 46px;
    border-bottom: none;
    margin: 0;
  }

  .programm__link {
    font-size: 20px;
    line-height: 20px;
    padding-right: 46px;
    margin-top: auto;
  }
}

@media (min-width: @desktop-width) {
  .programm {
    padding: 0 40px;
  }

  .programm__list {
    display: flex;
    justify-content: center;
  }

  .programm__item {
    width: calc(50% - 40px);
    padding: 75px 54px 54px;
    margin: 0;

    &--slim {
      margin-bottom: 0;
      margin-right: 80px;
    }

    &::before {
      width: 100px;
      height: 100px;
      left: 50px;
      top: 50px;
    }

    &--slim::after {
      width: 71px;
      left: 64px;
      top: 43px;
    }

    &--pro::after {
      width: 133px;
      left: 34px;
      top: 70px;
    }
  }

  .programm__title {
    margin: 0 0 75px 160px;
  }

  .programm__description {
    padding-bottom: 20px;
    width: 100%;
  }
}
