.programm__item {
  width: 280px;
  background-color: @lightgrey;
}

.programm__description {
  padding: 10px 30px 25px;
}

.programm__title {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 24px;
  line-height: 37.02px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding: 40px 10px 10px;
}

.programm__decor {
  color: @grey;
  size: 1px;
  text-align: center;
  width: 240px;
  margin: 0 20px 20px;
}

.programm__button {
  height: 57px;
}

.programm__button {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
}

.programm__item--slim {
  background-color: @green;
  margin: 20px;
  float: left;
  border-radius: 150px;
  width: 50px;
  height: 50px;
}

.programm__item--pro {
  background-color: @green;
  margin: 20px;
  float: left;
  border-radius: 150px;
  width: 50px;
  height: 50px;
}

.programm__button::after {
  content: url("../img/icon-right-arrow-long.svg");
  margin-left: 10px;
}

@media (min-width: @tablet-width) {
  .programm__choice {
    position: absolute;
    top: 370px;
  }

  .programm__item {
    width: 708px;
    margin-bottom: 30px;
    display: flex;
    padding-left: 50px;
    padding-top: 82px;
    flex-wrap: wrap;
  }

  .programm__list {
    display: flex;
    flex-direction: column;
  }

  .programm__decor {
    size: 0;
    width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }

  .programm__item--slim {
    order: 1;
    width: 205px;
    height: 205px;
  }

  .programm__item--pro {
    order: 1;
    width: 205px;
    height: 205px;
  }

  .programm__title {
    width: 375px;
    padding: 0 0 25px 0;
    margin: 0;
    text-align: left;
    font-size: 36px;
  }

  .programm__description {
    width: 375px;
    padding: 0 0 60px 0;
    margin: 0;
    order: 2;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
  }

  .programm__button {
    width: 375px;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    order: 3;
  }
}

@media (min-width: @desktop-width) {
  .programm__list {
    flex-direction: row;
    width: 1300px;
  }

  .programm__item {
    width: 570px;
    margin-bottom: 30px;
    display: flex;
    padding-left: 50px;
    padding-top: 82px;
    flex-wrap: wrap;
    margin: 0 40px;
  }

  .programm__item--slim {
    width: 105px;
    height: 105px;
    order: 0;
  }

  .programm__item--pro {
    order: 0;
    width: 105px;
    height: 105px;
  }

  .programm__choice {
    position: absolute;
    top: 455px;
  }
}
