.results__item {
  font-size: 12px;
  line-height: 12px;
}

.results__item--bold {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding: 20px;
  margin: 0;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
}
