.site-list__item a {
  padding: 25px 0;
  text-align: center;
}

.site-list__item {
  border-top: 1px solid @grey;
  text-align: center;
  padding: 25px 0 20px;
}

.site-list__item:hover {
  opacity: 0.5;
}

.site-list__item:active {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .site-list__item {
    border: none;
    padding: 0;
  }

  .site-list__item:first-child {
    margin-right: 34px;
  }

  .site-list__item:last-child {
    margin-left: 36px;
  }

  .site-list__item--active {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 34px;
      left: 0;
      height: 2px;
      background: #68b738;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list__item {
    border: none;
    padding: 0;

    &::after {
      bottom: 79px;
      left: 2px;
      background: @white;
    }
  }

  .site-list__item:first-child {
    margin-right: 33px;
  }

  .site-list__item a {
    color: @white;
  }
}
