.slider__toggle {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.slider__capsule {
  display: block;
  width: 85px;
  height: 15px;
  border: 1px solid @grey;
  border-radius: 5px;
  background-color: @white;
  margin: 0 20px 0 20px;
}

.slider__circle {
  margin-top: 5px;
  margin-left: 5px;
  position: absolute;
  height: 6px;
  width: 36px;
  border-radius: 5px;
  background-color: @green;
}

@media (min-width: @tablet-width) {
  .slider__toggle {
    font-size: 20px;
  }

  .slider__capsule {
    border: none;
    width: 440px;
    height: 6px;
    background-color: @grey;
  }

  .slider__circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid @grey;
    background-color: @white;
  }

  .slider__circle::before {
    content: '';
    background-color: @green;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}
