.slider__toggle {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.slider__capsule {
  display: block;
  width: 85px;
  height: 15px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  background-color: #ffffff;
}

.slider__circle {
  margin-top: 5px;
  margin-left: 5px;
  position: absolute;
  height: 6px;
  width: 36px;
  border-radius: 5px;
  background-color: #68b738;
}
