.slider {
  user-select: none;
}

.slider__input {
  display: none;
}

.slider__images {
  position: relative;
  margin: 0 auto;
  width: 320px;
  height: 240px;
}

.slider__image {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  transition: 0.4s ease-out;

  &--after {
    display: flex;
    justify-content: flex-end;
    width: 0;
    right: 0;
  }
}

.slider__pic {
  user-select: none;
  display: block;
}

.slider__toggles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 15px;
  position: relative;
  z-index: 1;
}

.slider__toggle {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid @grey;
  user-select: none;
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid @darkgrey;
  }

  &:active {
    border-bottom: 1px solid @lightgrey50;
  }
}

.slider__scale {
  display: block;
  align-items: center;
  padding: 3px 4px;
  margin: 2px 18px 0 18px;
  width: 85px;
  height: 14px;
  border-radius: 6px;
  background-color: @white;
  border: 1px solid @grey;
  box-sizing: border-box;
}

.slider__grip {
  flex-shrink: 0;
  display: block;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: @green;
  cursor: pointer;
  transition: 0.35s ease-out;
}

.slider__input--before:checked ~ .slider .slider__grip {
  margin-left: 0;
  transition: 0.7s all;
}

.slider__input--after:checked ~ .slider .slider__grip {
  margin-left: calc(100% - 34px);
  transition: 0.7s all;
}

.slider__input--before:checked ~ .slider__images .slider__image--before,
.slider__input--after:checked ~ .slider__images .slider__image--after {
  width: 100%;
  transition: 2.5s ease-in-out;
}

.slider__input--before:checked ~ .slider__images .slider__image--after,
.slider__input--after:checked ~ .slider__images .slider__image--before {
  width: 0;
  transition: 2.5s ease-in-out;
}

@media (min-width: @tablet-width) {
  .slider {
    position: relative;
    padding-bottom: 55px;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 460px;
      background-color: @lightgrey50;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 50%;
      height: 460px;
      background-color: @lightgrey80;
      z-index: 0;
    }
  }

  .slider__images {
    margin: 70px auto 0;
    width: 690px;
    height: 517px;
    z-index: 1;
  }

  .slider__image {
    display: flex;
    align-items: flex-end;
    width: 50%;

    &--after {
      justify-content: flex-end;
    }
  }

  .slider__pic {
    width: 690px;
    height: auto;
  }

  .slider__toggles {
    margin: 15px auto;
  }

  .slider__toggle {
    font-size: 20px;
    border-bottom: 1px dotted @grey;
    padding-bottom: 4px;
  }

  .slider__scale {
    padding: 0;
    width: 428px;
    height: 6px;
    background-color: @grey;
    border-color: @grey;
  }

  .slider__grip {
    margin-left: calc(50% - 12px);
    width: 34px;
    height: 34px;
    background-image: radial-gradient(@green 0, @green 4px, @white 5px, @white 100%);
    border: 1px solid @grey;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    margin-top: -17px;

    &:hover {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: 1px solid @green;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    }
  }
}

@media (min-width: @desktop-width) {
  .slider {
    width: calc(50% + 40px);
    padding: 0;
    margin-top: auto;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .slider__images {
    width: 690px;
    margin: 0 auto;
  }

  .slider__image {
    &--before {
      width: calc(50% + 20px);
    }

    &--after {
      width: calc(50% - 20px);
    }
  }

  .slider__toggles {
    margin: 45px auto;
    padding-left: 40px;
  }
}
