.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding: 0;
}

.social__item {
  padding: 9px 0 0 3px;
}

.social__link--vkontakte {
  width: 21px;
  height: 14px;
}

.social__link--instagram {
  width: 17px;
  height: 17px;
  padding: 0 0 0 1px;
}

.social__link--facebook {
  width: 13px;
  height: 20px;
  padding: 0 10px 0 0;
}

@media (min-width: @tablet-width) {
  .social__list {
    width: 133px;
    margin: -5px 125px;
  }
}
