.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding: 0;
}

.social__item {
  padding: 10px 0 3px 4px;
}

.social__item:last-child {
  padding: 8px 0 3px 4px;
}

.social__link--instagram {
  padding: 0 0 1px;
}

.social__link--facebook {
  padding: 0 10px 0 0;
}

.social__link svg:hover {
  fill: #6bb83c;
}

.social__link svg:active {
  fill: #6bb83c;
  opacity: 0.5;
}

@media (min-width: @tablet-width) {
  .social__list {
    width: 135px;
    margin: 7px 0 0 125px;
    flex-wrap: nowrap;
  }

  .social__item {
    padding: 0;
  }

  .social__link--vkontakte svg {
    width: 28px;
    height: 21px;
    margin: -6px 0 0;
  }

  .social__link--instagram svg {
    width: 24px;
    height: 21px;
    padding: 0;
    margin: -5px 0 0 1px;
  }

  .social__link--facebook svg {
    width: 13px;
    height: 34px;
    padding: 0;
    margin: -21px 2px 0 0;
  }
}

@media (min-width: @desktop-width) {
  .social__link--instagram {
    padding: 0 0 0 3px;
  }
}
