.social__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding: 0;
}

.social__item {
  padding: 10px 0 0;
}

.social__link {
  padding: 10px;
}

.social__icon {
  fill: #666666;
}

.social__link:hover .social__icon {
  fill: #6bb83c;
}

.social__link:active .social__icon {
  fill: #6bb83c;
  opacity: 0.5;
}

@media (min-width: @tablet-width) {
  .social__list {
    width: 135px;
    margin: 7px 0 0 125px;
    flex-wrap: nowrap;
  }

  .social__item {
    padding: 0;
  }

  .social__link--vkontakte .social__icon {
    width: 28px;
    height: 21px;
    margin: -4px -11px 0;
  }

  .social__link--instagram .social__icon {
    width: 24px;
    height: 21px;
    padding: 0;
    margin: -4px 0 0 9px;
  }

  .social__link--facebook .social__icon {
    width: 13px;
    height: 34px;
    padding: 0;
    margin: -11px 3px 0 0;
  }
}

@media (min-width: @desktop-width) {
  .social__link--instagram {
    padding: 0 0 0 3px;
  }
}
