@white: #ffffff;
@lightgrey: #f2f2f2;
@grey: #cdcdcd;
@border-grey: rgba(205, 205, 205, 0.5);
@darkgrey: #444444;
@green: #68b738;
@darkdreen: #5eaa2f;
@lightgreen: #99c684;
@black: #111111;

@tablet-width: 768px;
@desktop-width: 1300px;

@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

@main-font: "Oswald", "Arial", sans-serif;
@secondary-font: "Arial", sans-serif;
